.Rproj.user
.Rhistory
.RData
.Ruserdata
**.aux
**.log
**.synctex.gz
**.bbl
**.blg
**.nav
**.toc
**.dvi
**.out
**.pyg
**.snm
**.vrb
**.Rhistory
**.eps
**.DS_Store
~**
assignment/data
demo/Data
demo/Homework_Solution
demo/pythoncode
demo/**.py
demo/JupyterNotebook/Data
demo/JupyterNotebook/.idea
demo/JupyterNotebook/.ipynb_checkpoints/
demo/JupyterNotebook/venv.zip
demo/JupyterNotebook/venv/
demo/JupyterNotebook/nlp-architect
