.Rproj.user
.Rhistory
.RData
.Ruserdata
**.aux
**.tex
**.log
**.synctex.gz
**.bbl
**.blg
**.nav
**.toc
**.dvi
**.out
**.pyg
**.snm
**.vrb
**.Rhistory
**.eps
assignment/data
demo/Data
demo/Homework_Solution
demo/pythoncode
demo/**.py
demo/.idea
**.DS_Store
demo/.ipynb_checkpoints/
~**
lecture_demos/Data
